/* CSS Awal Logo */
.loggo {
    border: 3px solid #163020 ;
    margin-right: 1070px;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFA732;
    margin-bottom: 12px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.abc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;

}

/* CSS Akhir Logo */

/* CSS Awal Nav Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#DED0B6 ;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: right;
}



/* CSS Akhir Nav Menu */

/* CSS Awal Section Keliling Segitiga */

div.gambarkelilingsegitiga img {
    border: 1px solid #ccc;
    align-items: center;
    
}

div.gambarkelilingsegitiga img src {
    align-items: center;
}

div.gambarkelilingsegitiga h6 {
    border: 3px solid #BF3131;
    background-color: #EEF0E5;
    padding: 10px;
    

}

.text {
    display:flex;
    padding: 10px;
    border-radius: 10px;
    margin-right: 900px;
}

.yoo {
    margin-right: 700px;
}

h6.paragraf1 {
    padding: 10px;
    border-radius: 10px;
    margin-right: 900px;
}

/* CSS Akhir Section Keliling Segitiga */

/* CSS Awal Section Luas Segitiga */

div.gambarluassegitiga img {
    border: 1px solid #ccc;
    align-items: center;
    
}

div.gambarluassegitiga h6 {
    border: 3px solid #86B6F6;
    background-color: #EEF0E5;
    padding: 10px;

}

.yoo2 {
    margin-right: 700px;
}

.paragraf2 {
    border-radius: 10px;
    margin-right: 900px;
}

/* CSS Akhir Section Luas Segitiga */

/* CSS Awal Input Button  Luas Segitiga & Keliling Segitiga */
.sisi {
    border-radius: 10px;
    background-color: #EEF5FF;
    border-color: #092635;
    outline: none;
}

/* CSS Akhir Input Button  Luas Segitiga & Keliling Segitiga */

/* CSS Awal Button Hitung & Reset Tampilan Keliling Segitiga */
.btn1 {
    background-color: #FFF78A ;

} 
 
/* CSS Akhir Button Hitung & Reset Tampilan Keliling Segitiga */

/* CSS Awal Button Hitung & Reset Tampilan Luas Segitiga */

.btn2 {
    background-color: #7BD3EA;
}

/* CSS Akhir Button Hitung & Reset Tampilan Luas Segitiga */




